{%load static%}
{%include './home/preloader.html'%}
<body>

    <!--[if lt IE 7]>
    <p class="browsehappy">We are Extreamly sorry, But the browser you are using is probably from when civilization started.
        Which is way behind to view this site properly. Please update to a modern browser, At least a real browser. </p>
    <![endif]-->

    {%include './home/header.html'%}

    <!--== Page Title Area Start ==-->
<section id="page-title-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="page-title-content">
                    <h1 class="h2">Gallery</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->

    <!--== Gallery Page Content Start ==-->
    <section id="page-content-wrap">
        <div class="gallery-page-wrap section-padding">
            

            <!--= Gallery Page Content Wrap Start =-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="full-album-content">
                            <!-- Single Album Start -->
                            <div class="single-album-wraper">
                                <div class="album-heading">
                                    <h2><a href="single-album.html">Our precious moments captured</a></h2>
                                    {% comment %} <p>Etiam vitae tortor. Curabitur nisi. In hac habitasse platea dictumst. Praesent ac massa at ligula laoreet iaculis. Praesent ac massa at ligula laoreet iaculis.
                                        sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros. Nullam quis ante. Curabitur vestibulum.</p> {% endcomment %}
                                </div>

                                <div class="album-gallery-item">
                                    <div class="row gallery-gird">
                                    
                                        {% for photo in photos %}
                                        <div class="col-lg-3 col-sm-6 recent event">
                                          <div class="single-gallery-item gallery-bg-1" >
                                            <img src="{%get_media_prefix%}{{photo.image}}" style="max-width:100% !important"/>
                                            <div class="gallery-hvr-wrap">
                                              <div class="gallery-hvr-text">
                                                <h4>{{photo.title}}</h4>
                                                <p class="gallery-event-date">{{photo.created_on}}</p>
                                              </div>
                                              <a
                                                href="{%get_media_prefix%}{{photo.image}}"
                                                class="btn-zoom image-popup"
                                              >
                                              
                                                <img src="{%static 'assets/img/zoom-icon.png' %}" alt="a" style="max-width:100% !important"/>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- Single Gallery End -->
                                        {%endfor%}
                                    <!-- Single Gallery End -->
</div>
                                </div>
                            </div>
                            <!-- Single Album End -->

                            
                            <!-- Single Album End -->
                        </div>
                       
                    </div>
                </div>
            </div>
            <!--= Gallery Page Content Wrap End =-->
        </div>
    </section>
    <!--== Gallery Page Content End ==-->

    {%include './home/footer.html' %}
    {%include './home/sitescript.html'%}

</body>
</html>
