{%load static%}
{%include './home/preloader.html'%}
  <body>
  {%include './home/header.html'%}
  <section id="page-title-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 m-auto text-center">
          <div class="page-title-content">
            <h1 class="h2">Welfare</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container" id="parent_container" style="padding:10px;padding-bottom:30px;">
    {{resource.description|safe}}
   
  </div>
  {%include './home/footer.html' %}
  {%include './home/sitescript.html'%}
  <script>
    $(document).ready(function(){ 
      $("img").addClass("img-fluid");
});
  </script>
  </body>  
</html>
