{%load static%}
<!--== Footer Area Start ==-->
<footer id="footer-area">
  <!-- Footer Widget Start -->
  <div class="footer-widget section-padding">
    <div class="container">
      <div class="row">
        <!-- Single Widget Start -->
        <div class="col-lg-4 col-sm-6">
          <div class="single-widget-wrap">
            <div class="widgei-body">
              <div class="footer-about">
                <img
                  src="{%get_media_prefix%}{{footer.logo}}"
                  alt="Logo"
                  class="img-fluid"
                />
                <p>
                 {{footer.short_description}}
                </p>
                <a href="#">Phone: +{{footer.phone}}</a>                
                <a href="#">Email: {{footer.email}}</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        <!-- Single Widget Start -->
        <div class="col-lg-3 col-sm-6">
          <div class="single-widget-wrap">
            <h4 class="widget-title">Get In Touch</h4>
            <div class="widgei-body">
              <p>
                {{footer.short_description}}
              </p>
              
              <div class="footer-social-icons">
                <a href="https://www.facebook.com/Sipaisgreat" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCXb5lH7fL-z982-dOPKr35A" target="_blank"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        <!-- Single Widget Start -->
        <div class="col-lg-3 col-sm-6">
          <div class="single-widget-wrap">
            <h4 class="widget-title">Usefull Link</h4>
            <div class="widgei-body">
              <ul class="double-list footer-list clearfix">
                <li><a href="#">About</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Puja 2022</a></li>
                <li><a href="#">Membership</a></li>
                <li><a href="#">Non-members</a></li>
                <li><a href="#">Sponsorship</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Resources</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Single Widget End -->

        
      </div>
    </div>
  </div>
  <!-- Footer Widget End -->
 
</footer>
<!--== Footer Area End ==-->

<!--== Scroll Top ==-->
<a href="#" class="scroll-top">
  <i class="fa fa-angle-up"></i>
</a>
<!--== Scroll Top ==-->
