 {%load static%}
 <!--== Job Opportunity Area Start ==-->
 <section id="job-opportunity" class="section-padding">
  <div class="container">
      <!--== Section Title Start ==-->
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="section-title">
                  <h2>Our Sponsors</h2>
              </div>
          </div>
      </div>
      <!--== Section Title End ==-->

      <!--== Job opportunity Wrapper ==-->
      <div class="job-opportunity-wrapper">
        <div class="row">           
          {%for sponsor in sponsorships%}
            <!--== Single Job opportunity Start ==-->
            <div class="col-lg-4 col-sm-6 text-center">
                <div class="single-job-opportunity">
                    <div class="job-opportunity-text">
                        <div class="job-oppor-logo" style="height:100px !important;">
                            <img src="{%get_media_prefix%}{{sponsor.image}}" alt="Job" style="min-width:80%;object-fit:cover;max-height:150px !important">
                        </div>
                        <h3 style="padding-top:50px;padding-bottom:1px;"><a href="#">{{sponsor.title}}</a></h3>
                        <p style="padding-top:0px;">{{sponsor.description}}</p>
                    </div>
                   
                </div>
            </div>
            <!--== Single Job opportunity End ==-->
           {%endfor%}
        </div>
          
      </div>
      <!--== Job opportunity Wrapper ==-->
  </div>
</section>
<!--== Job Opportunity Area End ==-->